.idea
.env
.env.backup
venv
.venv
.vscode
**__pycache__
**/*.log
*.db
.DS_Store
**/node_modules
**/dist
.ruff_cache
.pytest_cache
*.egg-info
package-lock.json
*.mjs
site/*
backend/director/downloadstest_venv/
backend/director/downloads/
